h1{
    color:red;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
}

.page-header {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1414;
    margin: auto;
   height: 147px;
    background-color: aquamarine;
}

.page-header__nav {
    display: flex;
    gap: 50px;
}

.main {
    flex: 1 0 auto;
    background-color: coral;

}

.home {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.page-footer {
    flex: 0 0 auto;
    height: 455px;
    background-color: darkgreen;
}